.App-header {
   height: 80px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   background-color: hsl(220, 15%, 18%);
   color: hsl(220, 0%, 98%);
}

.App-logo {
   height: 50px;
}

.App-header a {
   color: white;
}
.add-btn {
   width: 38px;
}
.add-btn {
   width: 38px;
   text-shadow: 0 0 1px rgb(253, 255, 123), 0 0 1px rgb(253, 255, 123);
}
.App-header a:hover {
   text-shadow: 0 0 1px rgb(253, 255, 123), 0 0 1px rgb(253, 255, 123);
}
